@media (prefers-color-scheme: dark) {
    body {
        .css-selector {
            background: linear-gradient(85deg, #788a86, #0c0d0d, #0c0d0d);
            background-size: 600% 600%;
        
            -webkit-animation: AnimationName 30s ease infinite;
            -moz-animation: AnimationName 30s ease infinite;
            -o-animation: AnimationName 30s ease infinite;
            animation: AnimationName 30s ease infinite;
        }
        
        @-webkit-keyframes AnimationName {
            0%{background-position:27% 0%}
            50%{background-position:74% 100%}
            100%{background-position:27% 0%}
        }
        @-moz-keyframes AnimationName {
            0%{background-position:27% 0%}
            50%{background-position:74% 100%}
            100%{background-position:27% 0%}
        }
        @-o-keyframes AnimationName {
            0%{background-position:27% 0%}
            50%{background-position:74% 100%}
            100%{background-position:27% 0%}
        }
        @keyframes AnimationName {
            0%{background-position:27% 0%}
            50%{background-position:74% 100%}
            100%{background-position:27% 0%}
        }
    }
}